* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  font-family: 'Spartan', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: hsl(302, 10%, 53%);
  sc
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
}

.intro-heading {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: .3em;
  line-height: 1em;
}

.intro-desc {
  color: hsl(302, 10%, 53%);
  line-height: 1.7em;
}

.review-desc {
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  margin-left: 2em;
  position: relative;
  bottom: .3em;
}

.intro-heading,
.review-desc {
  color: hsl(300, 43%, 22%);
}

.customer-name {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  margin-bottom: .3em;
}

.customer-detail {
  color: hsl(333, 80%, 67%);
  font-size: 1rem;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 6.5em auto 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
}

.intro {
  width: 40%;
}

.reviews {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-review {
  position: relative;
  right: 25%;
}

.second-review {
  position: relative;
  right: 12.5%;
}

.review-card {
  background-color: hsl(300, 24%, 96%);
  padding: 1.2em 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.review-card img {
  width: 5%;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial-card {
  border-radius: 10px;
  padding: 2.5em 2em;
  background-color: hsl(300, 43%, 22%);
  width: 32%;
}

.first-testimonial {
  position: relative;
  bottom: 1em;
}

.third-testimonial {
  position: relative;
  top: 1em;
}

.testimonial-text {
  clear: left;
  color: hsl(300, 24%, 96%);
  font-size: 1rem;
  line-height: 1.5em;
}

.customer-img {
  margin: 0 1.5em 1.5em 0;
  border-radius: 50%;
  /* width: 12%; */
  width: 2.3em;
  float: left;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
  .reviews {
    width: 45%;
  }
}

@media (max-width: 1280px) {
  .review-desc {
    display: block;
    margin: 0;
    margin-top: 1em;
  }

  .review-card {
    text-align: center;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
  }

  .container {
    width: 90%;
    text-align: center;
  }

  .intro-heading {
    font-size: 2.5em;
  }

  .intro-heading,
  .intro-desc {
    margin-bottom: 3rem;
  }

  .testimonials,
  .main-content {
    flex-direction: column;
    margin-bottom: 4em;
  }

  .testimonials {
    text-align: left;
  }

  .first-review,
  .second-review {
    right: 0;
  }

  .review-desc {
    display: block;
    margin: 1.2em 0 0;
  }

  .review-card {
    margin-bottom: 1em;
  }

  .intro,
  .reviews,
  .testimonial-card {
    width: 100%;
  }
}
